:root {
    --f7-bars-shadow-bottom-image: none;
    --f7-searchbar-input-padding-horizontal: 24px;
    --f7-navbar-margin: 12px;
    --header-height: 112px;
    --footer-height: 3em;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.navbar {
    margin: var(--f7-searchbar-input-padding-horizontal) var(--f7-navbar-margin);
    width: calc(100% - 2 * var(--f7-navbar-margin));
    border-radius: var(--f7-navbar-margin);
    overflow: hidden;
    --f7-navbar-bg-color: #fff;
}

.dark .navbar {
    --f7-navbar-bg-color: #000;
}

.navbar .title {
    width: 100%;
    margin: 0;
}

/* Limit resizable panel width */
.panel {
    max-width: 75vw;
}

/* Demo Color Themes */
.demo-theme-picker {
    cursor: pointer;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    position: relative;
}

.demo-theme-picker .checkbox {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

body{
    display: none; /* displays when ready */
}

body.framework7-root {
    display: flex;
    flex-direction: column;
    height:auto;
}

main {
    overflow-y: auto;
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

header{
    flex-shrink: 0;
}

footer {
    height: var(--footer-height);
    flex-shrink: 0;
}


footer p {
    margin-right: 1em;
    font-weight: 300;
    font-size: 90%;
}

.not-found-block {
    padding: 1em;
}