<footer>
    <p class="float-right">&copy; salesucation.com Inc. <x-year></x-year></p>
  <!-- Sheet Modal Container -->
  <div class="sheet-modal cookie-message">
    <!-- Sheet Modal Toolbar, optional -->
    <div class="toolbar">
      <div class="toolbar-inner">
        <div class="left"></div>
        <div class="right">
          <a href="#" class="link sheet-close" data-sheet=".cookie-message">Done</a>
        </div>
      </div>
    </div>
    <!-- Sheet Modal Inner -->
    <div class="sheet-modal-inner">
      <!-- Sheet Modal content -->
      <div class="block">
        <p>message about why a serverless, progressive web app doesn't need cookies. Why is that a good thing?</p>
      </div>
    </div>
  </div>
</footer>
<!-- Popovers -->

