<ul>
    <li>
      <a href="/" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">arrow_left_to_line</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Salesucation</div>
        </div>
      </a>
    </li>
    <li>
      <a href="/about" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">info_circle_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">About</div>
        </div>
      </a>
    </li>
    <li>
      <a href="/contact" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">lightbulb_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Contact</div>
        </div>
      </a>
    </li>
    <li>
      <a href="/products" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">shippingbox_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Products</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">rectangle_fill_on_rectangle_angled_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Last Project</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">rectangle_fill_on_rectangle_angled_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">2nd Last Project</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">gear_alt_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Settings</div>
        </div>
      </a>
    </li>
  </ul>
