<ul>
    <li>
      <a href="/fr" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">arrow_left_to_line</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Salesucation</div>
        </div>
      </a>
    </li>
    <li>
      <a href="/fr/environ" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">info_circle_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">À propos</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">rectangle_fill_on_rectangle_angled_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Dernier projet</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">rectangle_fill_on_rectangle_angled_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">2ème dernier projet</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">gear_alt_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Paramètres</div>
        </div>
      </a>
    </li>
  </ul>
