<ul>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">tray_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Inbox</div>
          <div class="item-after">
            <div class="badge">4</div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">flag_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Flagged</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">doc_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Drafts</div>
          <div class="item-after">
            <div class="badge">1</div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">paperplane_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Sent</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">exclamationmark_triangle_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Spam</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">trash_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Trash</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item-content item-link">
        <div class="item-media">
          <i class="icon f7-icons">archivebox_fill</i>
        </div>
        <div class="item-inner">
          <div class="item-title">Archive</div>
        </div>
      </a>
    </li>
  </ul>
